<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel='stylesheet' href='../static/style.css'>
  <link rel="stylesheet" href="../static/assets/css/main.css" />
  <noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
  <script src='../static/client.js'></script>
</head>
<body class="is-preload">
<div class="wrapper">
<section id="main" class="wrapper">
	<div class="center inner">
    <h1 class="major">Reddit Sentence Completion</h1>
    <p>
      <strong>Instructions: </strong>Pick a model, pick a subbreddit, start typing a sentence, and see how it is finished based on the subreddit sentiment!
    </p>
    <!-- Form -->
    <section>
      <form method="post" action="#">
        <div class="row gtr-uniform">
          <div class="col-6 col-12-xsmall">
            <select name="demo-category" id="model_cat">
              <option value="">- Model -</option>
              <option value="1">GPT-2</option>
              <option value="1">ULMFit</option>
              <!--<option value="1">Word2Vec</option>
              <option value="1">N-gram</option>-->
            </select>
          </div>
          <div class="col-6 col-12-xsmall">
            <select name="demo-category" id="sub_cat">
              <option value="">- Subreddit -</option>
              <option value="1">r/awww</option>
              <option value="1">r/Conservative</option>
              <option value="1">r/democrat</option>
              <option value="1">r/ElizabethWarren</option>
              <option value="1">r/Impeach_Trump</option>
              <option value="1">r/OurPresident</option>
              <option value="1">r/Libertarian</option>
              <option value="1">r/news</option>
              <option value="1">r/politics</option>
              <option value="1">r/SandersForPresident</option>
              <option value="1">r/The_Donald</option>
              <option value="1">r/The_Mueller</option>
              <option value="1">r/soccer</option>
              <option value="1">r/YangForPresidentHQ</option>
            </select>
          </div>
          <div class="col-12">
            <textarea name="demo-message" id="senttext" placeholder="Enter your message: ex) Trump is..." rows="3"></textarea>
          </div>
          <!--<div class="center col-6">
            <ul class="actions fit">
              <li><input type="submit" value="Generate" class="primary button fit" onclick='analyze()'/></li>
            </ul>
          </div>-->
          <div class='analyze center col-6'>
            <button id='analyze-button' class='primary button fit' type='button' onclick='analyze()'>Generate</button>
          </div>
        </div>
      </form>
    </section>

    <div align="left">
    <h2>Output:</h2><h3>
		<pre><code id="result-label">Trump is fat</code></pre></h3>
    </div>

    <!--<div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button1' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>-->
  </div>
</section>
</div>
</body>
</html>
